html {
  background: black;
  font-family: -apple-system, "-apple-system", BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial;
  font-weight: 300; }
  @media (max-width: 959px) {
    html {
      color: #bfbfbf;
      font-size: 16px;
      -webkit-text-size-adjust: 100%; } }
  @media (min-width: 960px) {
    html {
      color: #a6a6a6;
      font-size: 0.95em;
      padding-bottom: 1em; } }

body {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 960px) {
    body {
      width: 940px; } }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: skyblue;
    text-decoration: underline; }
  a:active {
    color: lightgreen; }

button {
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  cursor: pointer;
  font-family: -apple-system, "-apple-system", BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial;
  margin: 0;
  padding: 0.3em 0.5em;
  outline: none; }
  button:hover {
    background: skyblue; }
  button:focus {
    background: skyblue; }
  button:active {
    background: lightgreen; }

h1, h2, h3 {
  font-weight: normal; }

h1 {
  font-weight: 200; }

hr {
  display: none; }

@media (max-width: 959px) {
  #top {
    margin-bottom: 0.7em;
    padding: 0 8px; } }

@media (min-width: 960px) {
  #top {
    margin-bottom: 1em; } }

#head {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  #head a {
    color: #a6a6a6; }
  @media (max-width: 959px) {
    #head h1 {
      font-size: 110%;
      height: 18px;
      margin: 0; } }
  @media (min-width: 960px) {
    #head h1 {
      height: 28px; } }
  @media (min-width: 960px) {
    #head a:hover .fill {
      fill: white; }
    #head aside a {
      margin-left: 2em; } }
  #head svg {
    width: auto; }
    #head svg .fill {
      fill: orange; }
    @media (max-width: 959px) {
      #head svg {
        height: 18px; } }
    @media (min-width: 960px) {
      #head svg {
        height: 28px; } }
  @media (max-width: 959px) {
    #head {
      font-size: 85%; } }

@media (max-width: 959px) {
  #head-sign_out {
    display: none; } }

nav {
  display: flex;
  flex-direction: row; }
  @media (max-width: 959px) {
    nav {
      font-size: 85%;
      margin-top: 1.4em; } }
  @media (min-width: 960px) {
    nav {
      font-size: 110%; } }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 1.6em;
    line-height: 1.6em;
    list-style: none;
    margin: 0;
    padding: 0; }
    @media (max-width: 959px) {
      nav ul {
        justify-content: space-between;
        width: 100%; } }
    @media (min-width: 960px) {
      nav ul:before {
        content: "Page:"; } }
  nav li {
    height: 1.6em;
    line-height: 1.6em; }
    @media (max-width: 959px) {
      nav li:first-child a::before {
        content: "< "; }
      nav li:last-child a::after {
        content: " >"; } }
    @media (min-width: 960px) {
      nav li {
        margin-left: 0.7em; } }
  nav .nav-current {
    background: #8c8c8c;
    color: black;
    padding: 0 0.35em; }
    @media (max-width: 959px) {
      nav .nav-current {
        border-radius: 0.3em; }
        nav .nav-current::before {
          content: "Page "; } }

article {
  background-color: #333;
  padding-top: 0.4em; }
  article header {
    display: flex; }
    article header h1 {
      font-size: larger;
      margin: 0;
      text-rendering: optimizeLegibility; }
      @media (max-width: 959px) {
        article header h1 {
          font-size: 110%;
          line-height: 1em; } }
      @media (min-width: 960px) {
        article header h1 {
          display: inline;
          font-size: 140%; } }
    article header h2 {
      text-rendering: optimizeLegibility; }
      @media (max-width: 959px) {
        article header h2 {
          display: none; } }
      @media (min-width: 960px) {
        article header h2 {
          display: inline;
          font-weight: normal;
          font-size: 100%;
          margin-left: 0.75em; } }
    @media (max-width: 959px) {
      article header {
        flex-direction: column; } }
    @media (min-width: 960px) {
      article header {
        align-items: center;
        padding-bottom: 0.5em;
        justify-content: space-between; } }
  @media (max-width: 959px) {
    article picture {
      display: none; } }
  article p {
    line-height: 135%;
    margin: 0;
    padding: 0 0 1em 0; }
    @media (max-width: 959px) {
      article p {
        text-rendering: optimizeSpeed; } }
  article h1, article h2, article h3 {
    margin-top: 0; }
  @media (max-width: 959px) {
    article img {
      max-width: 100%; } }
  @media (min-width: 960px) {
    article img {
      max-width: 800px; } }
  article blockquote {
    background: #111;
    box-sizing: border-box;
    margin: 0 0 1em 1em;
    padding: 0.5em 0.75em 0 0.75em;
    width: 92%; }
    article blockquote blockquote {
      background: #262626; }
      article blockquote blockquote blockquote {
        background: #111; }
    article blockquote h1 {
      display: block;
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 0.5em; }
  @media (min-width: 960px) {
    article iframe {
      margin-top: 0.2em !important;
      margin-bottom: 1em !important;
      max-height: auto;
      max-width: 640px; } }
  @media (max-width: 959px) {
    article iframe {
      height: auto;
      width: 100%; } }
  article:nth-child(even) {
    background-color: #222; }
  article .article-avatar img {
    width: 80px;
    height: auto; }
  @media (min-width: 960px) {
    article .article-avatar {
      position: absolute;
      margin-top: 3px;
      margin-left: -95px; } }
  article .article-actions {
    display: flex;
    position: absolute; }
    article .article-actions button {
      background: transparent;
      border: none; }
      @media (max-width: 959px) {
        article .article-actions button {
          height: 22px;
          padding: 0; } }
      @media (min-width: 960px) {
        article .article-actions button {
          height: 22px;
          margin-left: 8px;
          outline: none;
          padding: 0 5px; }
          article .article-actions button:hover .fill {
            fill: skyblue; }
          article .article-actions button:active .fill {
            fill: lightgreen; }
          article .article-actions button:hover .red {
            fill: red; }
          article .article-actions button:active .red {
            fill: lightgreen; }
          article .article-actions button:hover .white {
            fill: white; } }
    article .article-actions svg {
      display: block; }
    article .article-actions .fill {
      fill: white; }
    article .article-actions .red {
      fill: #888; }
    article .article-actions .white {
      fill: black; }
    @media (max-width: 959px) {
      article .article-actions {
        right: 8px; } }
    @media (min-width: 960px) {
      article .article-actions {
        display: none;
        margin-left: 500px; } }
  article .article-meta {
    color: #888; }
    article .article-meta a {
      color: #888; }
    @media (max-width: 959px) {
      article .article-meta {
        margin-bottom: 0.6em; } }
    @media (min-width: 960px) {
      article .article-meta a:hover {
        color: skyblue; }
      article .article-meta time {
        margin-right: 1em; } }
  article .article-spoiler {
    display: none; }
  article .article-spoiler-button {
    display: block;
    font-size: 0.9em;
    margin-bottom: 1em; }
  article .article-rendered {
    margin-top: 0.25em; }
  @media (max-width: 959px) {
    article {
      background-image: none !important;
      border-bottom: 1px solid #555;
      padding-bottom: 1em;
      padding-left: 8px;
      padding-right: 8px; }
      article .article-reply {
        padding-left: 6px !important; }
      article .article-menu {
        padding: 0 6px !important; }
      article .article-reply svg {
        height: 18px; }
      article .article-menu svg {
        height: 4px; }
      article .article-reply {
        margin-left: 18px; }
      article .article-edit {
        display: none; }
      article .article-delete {
        display: none; }
      article .article-meta {
        margin-bottom: 0.6em; }
      article .article-link {
        display: none; } }
  @media (min-width: 960px) {
    article {
      box-sizing: border-box;
      margin-bottom: 1.5em;
      min-height: 110px;
      padding-bottom: 0.5em;
      padding-right: 1em;
      padding-left: 95px; }
      article:hover .article-actions {
        display: flex; }
      article .article-menu {
        display: none; }
      article .article-reply svg {
        height: 19px; }
      article .article-edit svg {
        height: 18px; }
      article .article-delete svg {
        height: 20px; }
      article .article-meta time {
        margin-right: 1em; } }

#article-menu-modal {
  background: #666;
  bottom: 0px;
  display: none;
  position: fixed;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.5s bottom;
  width: 100%;
  z-index: 100; }
  #article-menu-modal li {
    border-top: 1px solid gray;
    padding: 1.2em 0; }
  #article-menu-modal .delete {
    background: red;
    color: white; }

#article-edit-submit {
  font-size: 1em;
  margin-top: 0.75em; }

.article-editable:focus {
  outline-color: #888; }

textarea {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: #a6a6a6;
  display: inline-block;
  font-family: -apple-system, "-apple-system", BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
  line-height: 135%;
  outline-width: 1px;
  outline-style: solid;
  width: 100%; }
  @media (max-width: 959px) {
    textarea {
      font-size: 16px; } }
  @media (min-width: 960px) {
    textarea {
      font-size: 1em; } }

#bottom {
  width: 100%; }
  #bottom::-webkit-input-placeholder {
    color: #888; }
  @media (max-width: 959px) {
    #bottom {
      margin-top: 1.5em;
      outline-color: #555;
      outline-offset: -7px;
      padding: 0.9em 13px; }
      #bottom:focus {
        outline-color: #777; } }
  @media (min-width: 960px) {
    #bottom {
      margin-top: 2.4em;
      outline-color: #444;
      outline-offset: -1px;
      padding: 0.4em 0.7em; }
      #bottom:focus {
        outline-color: #666; } }

button[type=submit] {
  font-size: 120%; }
  @media (max-width: 959px) {
    button[type=submit] {
      margin-left: 8px; } }
  @media (min-width: 960px) {
    button[type=submit] {
      margin-top: 0.5em; } }

footer {
  color: #555;
  margin-top: 1em; }
  @media (max-width: 959px) {
    footer {
      text-align: center; } }
  @media (min-width: 960px) {
    footer {
      text-align: right; } }

#page-prev {
  width: 0;
  height: 0;
  border-style: solid;
  position: fixed;
  top: 50%;
  margin-top: -32px;
  visibility: hidden;
  border-width: 32px 14px 32px 0;
  border-color: transparent #777 transparent transparent;
  left: 10px; }

.page-prev-enabled {
  border-right-color: white !important; }

#page-next {
  width: 0;
  height: 0;
  border-style: solid;
  position: fixed;
  top: 50%;
  margin-top: -32px;
  visibility: hidden;
  border-width: 32px 0 32px 14px;
  border-color: transparent transparent transparent #777;
  right: 10px; }
  #page-next .enabled {
    border-right-color: white !important; }

.page-next-enabled {
  border-left-color: white !important; }

#blank {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }
