<!DOCTYPE html>
<html>
  <head>
    <title>{{ getTitleWith "Forgot Password" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style/lib/cutestrap.min.css">
    <style type="text/css">
      @media (max-width: 600px) {
        body {
          margin-left: 2.5%;
          margin-right: 2.5%;
        }
      }

      @media (min-width: 600px) {
          body {
          margin: 0 auto 2em auto;
          width: 28em;
        }
      }
    </style>
  </head>

  <body>
    <h1>I Forgot</h1>
    <p>
      Forget your password? Enter your email address below and a reset link will be emailed to you.
    </p>
  
    <form method="post" action="/forgot">
      <label class="textfield">
        <input name="email" type="email" />
        <span class="textfield__label">Email Address</span>
      </label>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>