<!DOCTYPE html>
<html>
  <head>
    <title>Make a Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/script/lib/markdown-it.min.8.2.2.js"></script>
    <script type="text/javascript">
      const md = window.markdownit();
      
      document.addEventListener('DOMContentLoaded', function() {
        let post_contents = document.getElementsByClassName('post-content');

        for (let i = 0; i < post_contents.length; i++) {
          const trimmedContent = post_contents[i].textContent.trim();

          post_contents[i].innerHTML = md.render(trimmedContent);
        }

        let postActions = document.getElementsByClassName('article-actions');

        for (let i = 0; i < postActions.length; i++) {
          let replyButton = document.createElement('button');
          replyButton.className = 'post-reply';

          let menuButton = document.createElement('button');
          menuButton.className = 'post-menu';

          let fragment = document.createDocumentFragment();

          fragment.appendChild(replyButton);
          fragment.appendChild(menuButton);

          postActions[i].appendChild(fragment);
        }
      });
    </script>
    <link rel="stylesheet" href="/static/style/main.css">
  </head>

  <body>
    <main>
      <header id="top">
        <div id="head">
          <h1><a href="/">Make a Post</a></h1>
          <aside>
            <a href="/me">Settings</a>
            <a id="head-sign_out" href="/sign-out">Sign out</a>
          </aside>
        </div>

        <nav>
          <ul>
            {{ if ne .PageNum 1 }}
              <li><a href="/page/{{ dec .PageNum }}">{{ dec .PageNum }}</a></li>
            {{ end }}
            <li class="nav-current">{{ .PageNum }}</li>
            {{ if ne .PageNum .TotalPages }}
              <li><a href="/page/{{ inc .PageNum }}">{{ inc .PageNum }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </header>
      <hr>
      
      {{ range .Posts }}
        <article style="background-image: url('{{ .Avatar }}')"> 
          <div class="article-actions"></div>         
          <header>
            <hgroup>
              <h1><a href="/users/{{ .AuthorName }}" rel="author">{{ .AuthorName }}</a></h1>
              <h2>{{ .Title }}</h2>
            </hgroup>

            <div class="article-meta">
              <small>
                <time>{{ .PrettyTime }}</time>
                <a class="article-link">{{ .Count | commifyUint64 }}</a>
              </small>
            </div>
        </header>
          
          <section class="post-content">{{ .Content }}</section>
        </article>
      {{ end }}
      <hr>

      <form id="bottom" method="post" action="/posts">
        <textarea name="reply" rows="8" placeholder="Reply.." autocomplete="off" minlength="1" required></textarea>
        <button type="submit">Reply</button>
      </form>
    </main>

    <footer>
      {{ getVersion }}
    </footer>
  </body>
</html>