<!DOCTYPE html>
<html>
  <head>
    <title>{{ getTitleWith "Reset Password" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style/lib/cutestrap.min.css">
    <style type="text/css">
      @media (max-width: 600px) {
        body {
          margin-left: 2.5%;
          margin-right: 2.5%;
        }
      }

      @media (min-width: 600px) {
        body {
          margin: 0 auto 2em auto;
          width: 28em;
        }
      }
    </style>
  </head>

  <body>
    {{ if .FlashMessage }}
      <div id="flash">{{ .FlashMessage }}</div>
    {{ end }}

    <h1>Reset Password</h1>
  
    <form method="post" action="/reset-password">
      <label class="textfield">
        <input name="password1" type="password" />
        <span class="textfield__label">New Password</span>
      </label>

      <label class="textfield">
        <input name="password2" type="password" />
        <span class="textfield__label">Confirm Password</span>
      </label>

      <input type="hidden" name="token" value="{{ .Token }}" />
      <input type="submit" value="Submit">
    </form>
  </body>
</html>